<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- navbar start -->
    <nav class="p-2 w-full border-b-[2px] h-18">
        <div class="brand flex md:mx-40">
            <div class="icon w-9 h-9 border-red-700 rounded-full border-[2px] me-2 flex items-center justify-center">
                    <span class="text-2xl font-bold">Q</span>
            </div>
            <div class="title text-2xl">
                Quote X
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- header start -->
    <header>
        <div class="text-center mt-4">
            <a class="px-2 py-1 border-red-700 border-2"> Message</a>
        </div>
    </header>
    <!-- header end -->

    <!-- main section -->
    <main>
        <section class="md:mx-40 text-center mt-4">
            <%= message %>
            </section>
    </main>
    <!-- main section end -->
</body>
</html>